$brand-blue: #43DDE6;
$brand-magenta: #FC5185;
$dark-blue: #1f3c4d;
$color-grey: #222;
$color-white: #f2f2f2;
$padding: 2rem;
$margin: 2rem;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 1.6rem;
  color: $color-grey;
}

a {
  text-decoration: none;
}

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: $dark-blue;
  justify-content: space-between;
  padding: 0 1rem;
  color: $color-white;
  font-weight: 700;
  font-size: .9rem;
  z-index: 2;

  span {
    margin: 1rem 0;
  }
  
  a {
    text-decoration: none;
    color: $color-white;

    &:hover {
      color: $brand-magenta;
    }
  }

  li {
    display: inline;
    list-style-type: none;
    margin: 0 .5rem;
  }
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: $padding;
  background: linear-gradient(to bottom right, rgba($dark-blue, .9), rgba($brand-magenta, .9)), url("/src/img/hero-background.jpg");
  background-size: cover;
  text-align: center;
  color: $color-white;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.avatar {
  border-radius: 100%;
  margin: $margin;
}

/*
  SECTION STYLES
*/

.section {
  padding: 3rem;
}

.section-header {
  text-align: center;
  padding: $padding;
  
  h2 {
    display: inline-block;
		font-size: 3rem;
		background: $brand-magenta;
		color: $color-white;
		transform: rotate(-2deg);
		text-transform: uppercase;
    padding: $padding;
    line-height: 3rem;
  }
}

.seperator {
	overflow: hidden;
	position: relative;
	transform: skewY(-2deg); 
  height: 20rem;
  margin-top: 5rem;
  
  img {
    width: 100%;
    transform: translateY(-10rem);
  }
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 24rem;
  margin: $margin 0;
  padding: $padding;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
  border-radius: 1rem;

  h3 {
    color: $dark-blue;
  }
}

.icon {
  width: 8rem;
  display: block;
  margin: 1rem auto;
}

.responsive {
  width: 100%;
  height: auto;
}

.btn {
  background-color: $dark-blue;
  color: $color-white;
  transition: all .5s;
  padding: .5rem 2rem;
  border-radius: 1rem;
  margin: 1rem;

  &:hover {
    background-color: $brand-magenta;
  }
}

/* 
  FOOTER
*/

.footer {
	padding: 25px;
	text-align: center;
	font-size: .75em;
	color: $color-white;
  background: $dark-blue;
}

.social-icons {
	display: flex;
  justify-content: center;
}

.social {
	margin: 0 25px;
	font-size: 2.5em;
	transition: color 1s;
  text-decoration: none;

  &:hover {
    color: $brand-magenta;}
}

.linkedin {
  color: #0077b5;
}

.facebook {
	color: #3b5998;
}

.twitter {
	color: #00aced;
}

.github {
	color: $brand-blue;
}

/*
  MEDIA QUERYS
*/

@media (max-width: 380px) {
  #navbar {
    span {
      display: none;
    }
  }
}