$brand-blue: #43DDE6;
$brand-magenta: #FC5185;
$dark-blue: #1f3c4d;
$color-grey: #222;
$color-white: #f2f2f2;
$padding: 2rem;
$margin: 2rem;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 1.6rem;
  color: $color-grey;
}

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: $dark-blue;
  justify-content: space-between;
  padding: 0 1rem;
  color: $color-white;
  font-weight: 700;
  font-size: .9rem;

  span {
    margin: 1rem 0;
  }
  
  a {
    text-decoration: none;
    color: $color-white;

    &:hover {
      color: $brand-magenta;
    }
  }

  li {
    display: inline;
    list-style-type: none;
    margin: 0 .5rem;
  }
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: $padding;
  background: linear-gradient(to bottom right, rgba($dark-blue, .9), rgba($brand-magenta, .9)), url("/src/img/hero-background.jpg");
  background-size: cover;
  text-align: center;
  color: $color-white;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.avatar {
  border-radius: 100%;
  margin: $margin;
}

@media (max-width: 380px) {
  #navbar {
    span {
      display: none;
    }
  }
}