@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  line-height: 1.6rem;
  color: #444; }

a {
  text-decoration: none; }

#navbar {
  position: fixed;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f3c4d;
  padding: 0 1rem;
  color: #f2f2f2;
  font-weight: 700;
  font-size: .9rem;
  z-index: 2; }
  #navbar span {
    margin: 1rem 0; }
  #navbar svg {
    display: none; }
  #navbar a {
    text-decoration: none;
    color: #f2f2f2; }
    #navbar a:hover {
      color: #FC5185; }
  #navbar li {
    display: inline;
    list-style-type: none;
    margin: 0 .5rem; }

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: calc(2rem *2);
  background: linear-gradient(to bottom right, rgba(31, 60, 77, 0.9), rgba(252, 81, 133, 0.9)), url("/src/img/hero-background.jpg");
  background-size: cover;
  text-align: center;
  color: #f2f2f2; }
  #welcome-section .subline {
    font-weight: 700;
    font-size: 1.5rem; }

h1 {
  font-size: 6rem;
  line-height: 5rem; }

.avatar {
  border-radius: 100%;
  margin-bottom: 1rem; }

/*
  SECTION STYLES
*/
.section {
  padding: 2rem; }

.section-header {
  text-align: center;
  margin: 0 auto 2rem; }
  .section-header h2 {
    display: inline-block;
    font-size: 3rem;
    background: #FC5185;
    color: #f2f2f2;
    transform: rotate(-2deg);
    text-transform: uppercase;
    padding: 2rem;
    line-height: 3rem; }

.card-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.card {
  display: flex;
  width: 20rem;
  margin: 2rem auto;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 1rem; }
  .card h3 {
    color: #1f3c4d; }

.icon {
  width: 8rem;
  display: block;
  margin: 1rem auto; }

.responsive {
  width: 100%;
  height: auto; }

.btn {
  background-color: #1f3c4d;
  color: #f2f2f2;
  transition: all .5s;
  padding: .5rem 2rem;
  border-radius: 1rem;
  margin: 1rem; }
  .btn:hover {
    background-color: #FC5185; }

/* 
  FOOTER
*/
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
  text-align: center;
  color: #f2f2f2;
  background: #1f3c4d; }

.social-icons {
  display: flex;
  justify-content: space-around; }

.social {
  font-size: 2.5rem;
  transition: color 1s;
  text-decoration: none; }
  .social:hover {
    color: #FC5185; }
  .social:not(:last-child) {
    margin-right: 0.5rem; }

.linkedin {
  color: #0077b5; }

.facebook {
  color: #3b5998; }

.twitter {
  color: #00aced; }

.github {
  color: #43DDE6; }

/*
  MEDIA QUERYS
*/
@media (max-width: 380px) {
  body {
    font-size: 1rem; }
  #navbar span {
    display: none; }
  #navbar svg {
    display: inline; }
  #welcome-section {
    height: 90vh;
    padding: 3.5rem 2rem 2rem; }
    #welcome-section h1 {
      font-size: 3rem; }
    #welcome-section .subline {
      font-size: 1rem; }
    #welcome-section .avatar {
      max-width: 10rem; } }
